numpy
pyJWT
requests
flask
flask_mongoengine
flask-cors
bcrypt
pillow
wechatpy[cryptography]
# ?????flask_wtf????????????wtfoms?????????form????json?CSRF,?????
# https://segmentfault.com/q/1010000011140705
flask_wtf
# Marshmallow flask-marshmallow https://blog.igevin.info/posts/flask-rest-serialize-deserialize/
# flask-marshmallow https://flask-marshmallow.readthedocs.io/en/latest/
flask-marshmallow
# marshmallow-mongoengine ?????? 3 ????????????
# ?????? COS SDK
cos-python-sdk-v5